{% extends 'index.html' %}
{% block body %}
<div class="container">
<h3 style="text-align: center;">About Page</h3>
<h5 style="text-align: center; color: gray;">Our main motivation for this software system is to find a way to create awareness among the people who are not affected by cancer, how can they avoid this and take proper care of those who are affected. </h5>



<div class="img-container">
<img  height="400px" width="600px" class="center" src="../static/img/b.gif">
</div>

<h3>Our Activities</h3>
<li>Here we are hiring best cancer specialist doctors in our country. So people can easily find and contact them.</li>
<li>We are maintaining some emergency ambulance services in our different areas. They will help take patients from different areas to the nearest cancer hospital in that area.</li>
<li>Here we only supply cancer drugs. So people do not have to worry about finding a cure for cancer.</li>
<li>Our system also shows tips for different types of cancer. In this way, people will be able to be alert in advance.</li>
<li>People can easily share their experiences in the blog section and they can also write comments for discussion.</li>
<li>We also provide some necessary videos for awareness</li>
<li>We provide a contact form so that anyone can contact us and give us suggestions for our improvement.</li>
</div>

<style>
    .img-container{
        text-align: center;
    }
</style>



{% endblock %}