{% extends 'index.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bladder Cancer</title>
</head>
<body>
    <div class="container">
     <h1 style="text-align:center; color:#0C5D60    ">  Bladder Cancer </h1>
         <p>  Bladder cancer develops when healthy cells in the bladder lining, termed urothelial cells, alter and grow out of control, resulting in a tumor.
            The kind of bladder cancer is determined by the appearance of the tumor's cells under a microscope. There are three primary forms of bladder cancer:
            Urothelial carcinoma (or UCC) is the most common kind of bladder cancer, accounting for almost 90% of all cases. In reaction to irritation and inflammation, squamous cells form in the bladder lining. These cells may develop malignant over time. Approximately 4% of all bladder tumors are squamous cell carcinomas. Adenocarcinoma is a kind of bladder cancer that arises from glandular cells and accounts for around 2% of all bladder cancers.
            
         </p>



      
         <p style="color:#9b5567;font-size:18px;"> Causes   </p>

         Bladder cancer develops when the DNA of cells in the bladder changes (mutates). The DNA of a cell carries instructions that tell it what to do. The modifications instruct the cell to reproduce quickly and continue to live even when healthy cells would perish. The aberrant cells create a tumor, which can infiltrate and kill healthy tissue. The aberrant cells might eventually break free and spread throughout the body (metastasize).<br/>
         
       

 
                                 <img src="../static/img/Bladder pic 3.jpg" height="300" width="400" align="left" title=" Bladder Cancer" hspace="200" vspace="40"  /><br/>



          <p>In the early stages, there are generally no indications or symptoms. Bladder cancer symptoms appear as the disease advances.</p><br/>

         
               <p style="color:#65239b;font-size:18px;">  The following are the most prevalent  Bladder cancer symptoms:  <br/>

                    <ul  type="square">  
         
                        <li> Blood in the urine or blood clots
                            <li> During urinating, there is pain or a burning feeling.
                                <li> Urination on a regular basis
                                     <li>A strong want to urinate frequently during the night
                                        <li>Not being able to pass urine despite a strong desire to do so.
                                            <li>On one side of the body, lower back discomfort.
                                                  
                                                         
                                             
                    </ul> <br/> 
                    </p>
                                                                                    



                        <p> <img src="../static/img/Bladder pic 4.jpg" height="300" width="500" align="right" title=" Bladder  Cancer" hspace="200" vspace="40" /><br/></p>
   



        

           <p style="color:rgb(27, 25, 180);font-size:20px;"> Bladder cancer comes in a variety of forms, </p>
        

               <p>Different kinds of bladder cells have the potential to become malignant. The type of bladder cell from which cancer develops defines the type of cancer. This information is used by doctors to identify which therapies are most likely to be effective for you.The following are examples of bladder cancer types:<br/>

                <p>Urothelial carcinoma :Transitional cell carcinoma is a kind of urothelial carcinoma that develops in the cells that lining the interior of the bladder. When your bladder is full, urothelial cells expand, and when your bladder is empty, they contract. The insides of the ureters and urethra are lined with the same cells, and malignancies can occur there as well. In the United States, urothelial carcinoma is the most frequent kind of bladder cancer.</p>
                
                <p>Squamous cell carcinoma: Chronic irritation of the bladder, such as from an infection or long-term use of a urinary catheter, is linked to squamous cell carcinoma. In the United States, squamous cell bladder cancer is uncommon. It's more frequent in places of the world where schistosomiasis, a parasitic illness, is a common cause of bladder infections.</p>
                
                <p>Adenocarcinoma : Adenocarcinoma originates in the cells of the bladder's mucus-secreting glands. Bladder adenocarcinoma is an uncommon cancer.</p>
                
               

             </p>  <br/>
           
         <p style="color:#9b239b;font-size:18px;">  Factors that are at risk  </p>

             <ul> 

                 Certain variables might increase your risk of acquiring bladder cancer. It's critical to understand the risk factors so that you can avoid them if at all feasible. Some people, on the other hand, may have many risk factors yet never acquire this malignancy.

                     <li> Smoking cigarettes, cigars, or pipes can raise your risk of bladder cancer by accumulating hazardous chemicals in your urine. When you smoke, the chemicals in the smoke are processed by your body, and some of them are excreted in your urine. These dangerous substances can injure the lining of your bladder, raising your cancer risk.
                        <li>The risk of bladder cancer rises with age. Though bladder cancer can strike anybody at any age, the majority of those diagnosed are over the age of 55.
                            <li>Men are more likely than women to have bladder cancer.
                                <li>Our kidneys are responsible for filtering toxic substances from the circulation and transporting them to the bladder. As a result, it's possible that being exposed to certain chemicals raises the chance of bladder cancer. Arsenic, as well as chemicals used in the creation of dyes, rubber, leather, and textiles, have been associated to bladder cancer risk.
                                    <li>Anti-cancer treatment with cyclophosphamide raises the risk of bladder cancer. People who have had pelvic radiation treatments for a prior malignancy are more likely to get bladder cancer.
                                       <li>Repeated or chronic urinary infections or inflammations (cystitis), such as those caused by the use of a urinary catheter for an extended period of time, may increase the risk of squamous cell bladder cancer. Squamous cell carcinoma is connected to persistent bladder inflammation produced by the parasite diseases schistosomiasis in several parts of the world.
                        
                         
                         

             </ul> <br/> 




                  <img src="../static/img/Bladder pic 5.jpg" height="300" width="500" align="left" title=" Bladder Cancer" hspace="200" vspace="40" />




         
         <p style="color:#409283 " size="4px" face= "fantasy"> Although there is no surefire method to avoid bladder cancer, there are things you may do to lower your risk. Consider the following example:</p>
 
               <p style="color:#0F799D;font-size:18px;">  Prevention  </p>
                 <ul  type="Circle"> 
                
                      <li>Don't start smoking if you don't already. If you smoke, speak with your doctor about a strategy for quitting. Support groups, drugs, and other ways may be used to assist you in quitting smoking.
                        <li>Be cautious while working with chemicals. If you work with chemicals, be sure you follow all safety precautions.
                            <li>Select a wide range of fruits and vegetables. Consume a diet that is rich in a range of brightly colored fruits and vegetables. Antioxidants found in fruits and vegetables may help lower your cancer risk.
                        
                           
                </ul> <br/>


</body>
</html>
{% endblock %}