{% extends 'index.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Breast Cancer</title>
</head>
<body>
    <div class="container">
     <h1 style="text-align:center; color:#0C5D60    ">   Breast Cancer </h1>
         <p>  Breast cancer is a disorder in which the cells of the breast get uncontrollably large. There are several types of breast cancer. The kind of breast cancer is determined by which cells in the breast become cancerous. Breast cancer can start in a variety of places in the breast. Lobules, ducts, and connective tissue are the three primary components of a breast. Male breast cancer is a relatively uncommon medical illness, accounting for less than 1% of all breast cancers.
         </p>



      
         <p style="color:#9b5567;font-size:18px;"> Causes   </p>

         Breast cancer develops when some breast cells begin to grow abnormally, according to doctors. These cells proliferate at a faster rate than healthy cells and continue to grow, generating a lump or mass. Cells in your breast may spread (metastasize) to your lymph nodes or other places of your body. Cells in the milk-producing ducts are the most common source of breast cancer (invasive ductal carcinoma). Breast cancer can start in the glandular tissue called lobules, or in other cells or tissue within the breast (invasive lobular carcinoma). Hormonal, lifestyle, and environmental variables have all been linked to an increased risk of breast cancer, according to research. However, it's unclear why some people with no risk factors get cancer and others with risk factors never do. Breast cancer is most likely caused by a complicated combination between your genetic makeup and your environment.

 
                                 <img src="../static/img/Breast Cancer pic 2.jpg" height="300" width="400" align="left" title=" Breast Cancer" hspace="200" vspace="40"  />



          <p>Breast cancer symptoms vary from person to person. Some individuals show no indications or symptoms at all.</p>

         
               <p style="color:#65239b;font-size:18px;">  The following are the most prevalent  Breast cancer symptoms:   </p>

                    <ul  type="square">  
         
                          <li> A new breast or underarm lump (armpit).
                               <li>Swelling or thickening of a portion of the breast.
                                  <li>Breast skin irritation or dimpling.
                                      <li>In the nipple region of the breast, there is redness or flaky skin.
                                           <li>Nipple pulling in or soreness in the nipple region.
                                                 <li>Nipple discharge, including blood, that is not breast milk.
                                                       <li>Any alteration in the size or contour of the breasts.
                                                          <li>Breast pain in any location.
                            
                                                  
                                                         
                                             
                    </ul> <br/> 
                                                                                    



                        <p> <img src="../static/img/Breast Cancer pic 3.jpg" height="300" width="500" align="right" title="  Breast Cancer" hspace="200" vspace="40" /><br/></p>
   



        

           <p style="color:rgb(27, 25, 180);font-size:20px;">  Breast cancer comes in a variety of forms, </p>
        

               <p>Breast cancer comes in a variety of forms and is described in a variety of ways. It's easy to become perplexed after receiving a breast cancer diagnosis. The exact cells in the breast that are impacted define the kind of breast cancer. The majority of breast cancers are carcinomas, which are tumors that begin in the epithelial cells that line the organs and tissues in the body.<br/>
               
                 <p>Invasive ductal carcinoma is the most frequent kind of breast cancer. The cancer cells start in the ducts and spread outside of them to various regions of the breast tissue. Invasive cancer cells can also travel to other places of the body, which is known as metastasis.</p>
                 <p>Invasive lobular carcinoma is a kind of cancer that spreads throughout the body. Cancer cells start in the lobules and then travel from the lobules to nearby breast tissues. These invasive cancer cells have the potential to spread throughout the body.</p>
               
               

               <br/>

               
                 
            



                

         
         <p style="color:#9b239b;font-size:18px;">  Factors that are at risk  </p>

             <ul> 

                The following are some of the factors linked to a higher risk of breast cancer:

                     <li> Breast cancer is far more common in women than in males.
                          <li>As you become older, your chance of breast cancer rises.
                             <li>You have a higher chance of breast cancer if you've had a breast biopsy that revealed lobular carcinoma in situ (LCIS) or atypical hyperplasia of the breast.
                                 <li>If you've had breast cancer in one of your breasts, you're more likely to get cancer in the other.
                                     <li>Your chance of breast cancer is enhanced if your mother, sister, or daughter was diagnosed with breast cancer at an early age. Despite this, the vast majority of breast cancer patients have no family history of the illness.
                                         <li>Genetic mutations that enhance the risk of breast cancer can be handed down through the generations. BRCA1 and BRCA2 are two of the most well-known gene mutations. Breast cancer and other malignancies are considerably increased by these genes.
                                             <li>If you had chest radiation treatments as a kid or young adult, your chances of developing breast cancer are higher.
                                                 <li>Obesity raises your chances of developing breast cancer.
                                                     <li>Starting your period before the age of 12 increases your chances of developing breast cancer.
                                                         <li>You're more likely to acquire breast cancer if you started menopause later in life.
                                                             <li>Women who have their first child beyond the age of 30 are at a higher risk of breast cancer.
                                                                 <li>Women who have never been pregnant are more likely than those who have had one or more pregnancies to get breast cancer.
                                                                     <li>Women who use estrogen and progesterone-containing hormone treatment medicines to address the signs and symptoms of menopause have a higher risk of breast cancer. When women quit using these drugs, their risk of breast cancer falls.
                                                                         <li> Alcohol use raises the risk of breast cancer.
                        

             </ul> <br/> 




                  <img src="../static/img/Breast Cancer pic 1.png" height="300" width="500" align="left" title="  Breast Cancer" hspace="200" vspace="40" />


         
         <p style="color:#409283 " size="4px" face= "fantasy"> Even in high-risk women, lifestyle adjustments can reduce the chance of breast cancer. To reduce the risk:</p>
 
               <p style="color:#0F799D;font-size:18px;">  Prevention  </p>
                 <ul  type="Circle"> 
                
                      <li>The more alcohol you consume, the more likely you are to get breast cancer.
                          <li>If you're at a healthy weight, try to keep it up. If you need to reduce weight, talk to your doctor about how to do it in a healthy way.
                              <li>Physical exercise can assist you in maintaining a healthy weight, which can aid in the prevention of breast cancer.
                                 <li> Breast-feeding has been linked to a lower risk of breast cancer.
                                     <li>Hormone treatment in combination may raise the risk of breast cancer.
                                                
                </ul> <br/>

            </div>
</body>
</html>
{% endblock %}