{% extends 'index.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <style>
            body{
                 background-color: White;
            }
       </style>  

     <title>Lung Cancer</title>
     
</head>
<body>
    <div class="container">
     <h1 style="text-align:center; color:#0C5D60    ">  Lung Cancer </h1>
    <p> Lung cancer is a kind of cancer that develops in the tissues of the lungs, most commonly in the cells that lining the airways. In both men and women, it is the leading cause of cancer mortality.Small cell lung cancer and non-small cell lung cancer are the two most common forms. These two kinds develop and are handled in distinct ways. The most frequent kind of lung cancer is non-small cell lung cancer.
     
     <img src="../static/img/2.jpg" height="200" width="300" align="right" title="Lung Cancer" hspace="200" vspace="40"  /></p>

 <font color="#157B9A " size="4px" > Causes</font> <br/>
     The majority of lung cancers are caused by smoking, which affects both smokers and those who are exposed to secondhand smoke. Lung cancer may also strike persons who have never smoked and have never been exposed to secondhand smoke for an extended period of time. There may be no obvious etiology of lung cancer in some situations.
     
    
     <img src="../static/img/3.jpg" height="200" width="300" align="left" title="Lung Cancer" hspace="100" vspace="50" /><br/>


     <p> In the early stages, there are generally no indications or symptoms. Lung cancer symptoms appear as the disease advances.</p>
          <font color="#29ABB9 size="3px"> The following are the most common symptoms of lung cancer:</font>
          <ul  type="square">  
         
          <li>cough that persists for more than two or three weeks
              <li>persistent cough that is becoming worse
                  <li>consistently recurring chest infections
                       <li>blood is coughed up
                          <li>persistent breathlessness 
                              <li>soreness or pain while inhaling or coughing
                                 <li>consistent exhaustion or a lack of energy
                                      <li>anorexia nervosa or unexplained weight loss
                                            </ul> <br/> 




                                        <img src="../static/img/6.png" height="200" width="300" align="right" title="Lung Cancer" hspace="100" vspace="10" />


       <p> <font color="#207882 " size="3px" face= "fantasy"> Although there is no surefire strategy to avoid lung cancer, we can lower your risk by doing the following some steps.</font> </p>
 
        <font color="#03B4C8 size="3px"> Prevention</font>
        <ul  type="Circle"> 
     
        
          <li>Don't start smoking if you've never smoked before. Talk to your children about the dangers of smoking so they may learn how to prevent this main cause of lung cancer. Start talking to your kids about the hazards of smoking while they're young so they'll know how to handle peer pressure.
               <li>Avoid secondhand smoking if at all possible. If you live or work with someone who smokes, encourage them to quit. Request that he or she smoke outside at the very least. Avoid places where people smoke, such as pubs and restaurants, and look for places that are smoke-free.
                    <li>Quit smoking right immediately. Even if you've smoked for years, quitting lessens your chance of lung cancer.
                         <li>Radon-test your residence. Have your home's radon levels examined, especially if you reside in a region where radon is a recognized issue. It is possible to reduce radon levels in your house and make it safer.
                              <li>Avoid exposing yourself to carcinogens at work. Protect yourself from harmful substances at work by taking safeguards. Observe your employer's safety procedures. If you're provided a face mask for protection, for example, always put it on.
                                   <li>Consume a healthy diet rich in fruits and vegetables. Choose a nutritious diet that includes a wide variety of fruits and vegetables. Vitamin and nutrition supplies from food are the greatest. Large amounts of vitamins in tablet form should be avoided since they might be dangerous.
                                        <li>Exercise on a regular basis. Start cautiously if you haven't been exercising consistently. Make an effort to exercise on most days of the week.
        
        
                                        </ul> <br/>

                                    </div>
</body>
</html>
{% endblock %}