{% extends 'index.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ovarian Cancer</title>
</head>
<body>
    <div class="container">
     <h1 style="text-align:center; color:#0C5D60    ">  Ovarian  Cancer </h1>
         <p>  Ovarian cancer, often known as ovarian cancer, is one of the most prevalent cancers in women. The ovaries are a pair of tiny organs that are related to the womb and store a woman's supply of eggs. They are placed low in the belly.Ovarian cancer mostly affects women over the age of 50 who have gone through menopause, although it can also afflict younger people.They're commonly confused with symptoms of less serious diseases like irritable bowel syndrome (IBS) or premenstrual syndrome (PMS) (pre-menstrual syndrome). Ovarian cancer is a cancerous development of cells in the ovaries. The cells reproduce rapidly and have the ability to infiltrate and kill healthy bodily tissue. Two ovaries, one on each side of the uterus, make up the female reproductive system. Each ovary, roughly the size of an almond, produces eggs (ova) as well as estrogen and progesterone hormones. Surgery and chemotherapy are generally used to treat ovarian cancer.
         </p>



      
         <p style="color:#9b5567;font-size:18px;"> Causes   </p>

              Ovarian cancer has yet to be recognized as a cause, yet scientists have found factors that potentially raise the risk of the illness.Ovarian cancer develops when cells in or around the ovaries have alterations (mutations) in their DNA, according to doctors. The DNA of a cell includes the instructions that tell it what to do. The alterations cause the cells to reproduce and develop rapidly, resulting in a mass (tumor) of cancer cells. When healthy cells die, malignant cells continue to live. They can infect adjacent tissues and break away from a primary tumor to move to other regions of the body (metastasize).

 
                                 <img src="../static/img/Ovarian pic 2.jpg" height="300" width="400" align="left" title=" Ovarian Cancer" hspace="200" vspace="40"  />



          <p> When ovarian cancer first appears, it may not show any signs or symptoms. When ovarian cancer symptoms appear, they're sometimes mistaken for signs of other, less serious illnesses.</p>

         
               <p style="color:#65239b;font-size:18px;">  The following are the most prevalent ovarian cancer symptoms:   </p>

                    <ul  type="square">  
         
                          <li> constant bloating 
                               <li> a swollen belly
                                    <li> abdominal or pelvic discomfort 
                                         <li>absorption of food fast or a decrease of appetite
                                              <li>needing to go to the bathroom more frequently or urgently than usual
                                                  <li>a shift in your bowel movements
                                                        <li>back ache
                                                              <li>constantly feeling exhausted
                                                                  <li> inadvertent weight reduction
                                                         
                                             
                    </ul> <br/> 
                                                                                    



                        <p> <img src="../static/img/Ovarian pic 1.png" height="300" width="400" align="right" title=" Ovarian  Cancer" hspace="200" vspace="40" /><br/></p>
   



        

         <p style="color:rgb(27, 25, 180);font-size:20px;"> Ovarian cancer comes in a variety of forms, </p>
        

             <p>The kind of cell in which the disease starts defines the type of ovarian cancer you have and aids your doctor in determining the best treatment options for you. Types of ovarian cancer include:

            </p>

                 <p>Epithelial ovarian cancer: The most frequent kind of ovarian cancer is epithelial ovarian cancer. Serous carcinoma and mucinous carcinoma are two subgroups of this cancer.</p>
                 <p>Stromal tumors: Unlike other ovarian malignancies, stromal tumors are frequently detected at an earlier stage.</p>
                 <p>Germ cell tumors: These uncommon ovarian malignancies usually strike women in their twenties.

                 </p><br/>
                 
            



                

         
         <p style="color:#9b239b;font-size:18px;">  Factors that are at risk  </p>

             <ul> 

                 Ovarian cancer can be caused by a number of factors, including:

                     <li>Getting older. As you become older, your chances of developing ovarian cancer rise. It is most commonly detected in persons over the age of 50.
                          <li>Gene alterations that are inherited. Ovarian cancer is caused by alterations in your genes that you inherit from your parents in a tiny percentage of cases. BRCA1 and BRCA2 are two genes linked to an increased risk of ovarian cancer. Breast cancer is also increased by these genes.Several additional gene alterations, such as those associated with Lynch syndrome and the genes BRIP1, RAD51C, and RAD51D, have been linked to an increased risk of ovarian cancer.
                              <li>Ovarian cancer runs in the family. You may be at a higher risk of developing ovarian cancer if you have blood relations who have been diagnosed with the disease.
                                 <li>Obesity is being overweight. Ovarian cancer is more likely if you are overweight or obese.
                                     <li>Hormone replacement treatment for postmenopausal women. Hormone replacement treatment may raise the risk of ovarian cancer if used to manage menopausal symptoms.
                                          <li>Endometriosis. Endometriosis is a painful condition in which tissue that looks like the tissue that lining the interior of your uterus grows outside of it.
                                             <li> Menstruation began and finished at this age. Ovarian cancer risk may be increased by starting menstruation at a young age or commencing menopause later in life, or both.
                                                  <li>Having never been pregnant. If you've never been pregnant, your chances of developing ovarian cancer are higher.
       

             </ul> <br/> 




                  <img src="../static/img/Ovarian pic4.jpg" height="300" width="400" align="left" title=" Ovarian  Cancer" hspace="200" vspace="40" />




         
         <p style="color:#409283 " size="3px" face= "fantasy">  Although there is no proven strategy to prevent ovarian cancer, some factors have been linked to a reduced risk—  </p>
 
               <p style="color:#0F799D;font-size:18px;">  Prevention  </p>
                 <ul  type="Circle"> 
                
                      <li>Having been on birth control for at least five years.
                           <li>Having had your tubes tied, both ovaries removed, or a hysterectomy (an operation in which the uterus, and sometimes the cervix, is removed).
                               <li> Been a mother.
                                  <li>Breastfeeding for a year or more may lessen the incidence of ovarian cancer, according to several research.
                       
                              
                                     
                         
                        
                        
                        
                        
                </ul> <br/>

</div>
</body>
</html>
{% endblock %}