{% extends 'index.html' %}
{% block body %}

<h1 style="text-align: center;">Doctoe-Patient Discussion</h1>
<div class="container">
<div class="row">
    <div class="col-4">
            <div class="card my-2" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Contect Your Doctors</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Doctors</h6>
                  <h2>Do you want to contact the doctors??</h2>
                  <p class="card-text">Please click the link below to create appointment</p>
                  <a href="{% url 'createOrd' user.id%}" class="card-link center">Click here</a>
                </div>
              </div>
    </div>
    <div class="col-8">
<img src="../static/img/9.png" class="d-block w-100" alt="..." class="center"  height="420"></div>
</div>
</div>
<div class="container">
    <h3>Hi {{request.user.patient}} here you can see your recordes </h3>
        {% for o in ord %}
    <hr>
    <p><b>Doctor Name: </b>{{o.doctor.name}}</p>
    <p><b>Doctor Category: </b>{{o.doctor.specialist}}</p>
    <p><b>Your Problem: </b>{{o.problem}}</p>
    <p><b>Doctor's Advice: </b>{{o.reply}}</p>
        <hr>
        <br>
        {% endfor %}
    </div>
{% endblock %}