{% extends 'index.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Stomach Cancer</title>
</head>
<body>
    <div class="container">
     <h1 style="text-align:center; color:#0C5D60    ">   Stomach Cancer </h1>
         <p>  Stomach cancer is a kind of cancer that starts in the stomach and spreads throughout the body. The stomach is a muscular pouch that lies immediately below your ribs in the upper part of your abdomen. Your stomach takes in and retains the food you eat before breaking it down and digesting it. Stomach cancer, commonly referred to as gastric cancer, can occur in any section of the stomach. Stomach cancer primarily affects the elderly. When patients are diagnosed, they are on average 68 years old. Each year, almost six out of ten persons diagnosed with stomach cancer are 65 or older. Men have a greater lifetime risk of stomach cancer (about 1 in 96) than women (about 1 in 152).
         </p>



      
         <p style="color:#9b5567;font-size:18px;"> Causes   </p>

         Though several variables that might enhance the risk of stomach cancer have been found via study, it remains unclear what causes stomach cancer. Doctors know that stomach cancer starts when the DNA of a cell in the stomach changes. The DNA of a cell includes the instructions that tell it what to do. When healthy cells die, the alterations instruct the cell to grow swiftly and continue to live. The growing cells create a tumor, which can infiltrate and kill healthy tissue. Cells can break off and spread (metastasize) to other parts of the body over time.<br/>
         

 
                                 <img src="../static/img/Stomach pic1.jpg" height="200" width="300" align="left" title=" Stomach Cancer" hspace="200" vspace="40"  /><br/>



          <p> In the early stages, there are generally no indications or symptoms. Stomach cancer symptoms appear as the disease advances.</p><br/>

         
               <p style="color:#65239b;font-size:18px;">  The following are the most prevalent   Stomach cancer symptoms:   </p>

                    <ul  type="square">  
         
                        <li>Appetite problems
                            <li>Losing weight (without trying)
                                <li>Abdominal (belly) pain
                                     <li>Vague soreness in the abdomen, generally above the navel 
                                        <li>Feeling stuffed after only having a modest meal
                                            <li>Burning stomach or indigestion
                                               <li>Nausea
                                                    <li>Vomiting (blood or no blood)
                                                       <li>Abdominal swelling or fluid accumulation
                                                          <li> Blood in the stool 
                                                              <li>Feeling weary or weak due to a deficiency of red blood cells (anemia)
                                                                  <li>Jaundice (yellowing of the skin and eyes) if the cancer has progressed to the liver.
                                                  
                                                         
                                             
                    </ul> <br/> 
                                                                                    



                        <p> <img src="../static/img/Stomach pic3.jfif" height="200" width="300" align="right" title="  Stomach  Cancer" hspace="200" vspace="40" /><br/></p>
   



        

           <p style="color:rgb(27, 25, 180);font-size:20px;"> Stomach cancer comes in a variety of forms, </p>
        

               <p> Adenocarcinomas: Adenocarcinomas make up the majority of stomach malignancies (90 percent to 95 percent). These malignancies arise from gland cells in the stomach's innermost lining (the mucosa).

                                It's nearly invariably an adenocarcinoma if you're informed you have stomach cancer (or gastric cancer). This type of cancer is discussed in the material on the following pages about stomach cancer. There are two forms of stomach adenocarcinomas: adenocarcinoma and adenocarcinoma.<br/>
                                        1.The intestinal kind has a minor advantage in terms of prognosis (outlook). Certain gene modifications are more frequent in cancer cells, which might allow tailored medication therapy to be used to treat them.
                                        2.The diffuse form is more likely to spread fast. It's less prevalent than intestinal cancer, yet it's also more difficult to cure.
                
               
               

             </p>  <br/>

         
         <p style="color:#9b239b;font-size:18px;">  Factors that are at risk  </p>

             <ul> 

                The following are some of the factors that enhance the risk of stomach cancer:

                     <li> Gastroesophageal reflux disease (GERD) is a kind of gastroesophageal reflux disease (GERD
                        <li>Obesity
                            <li> high-salt and smoked-food diet
                            <li>An inadequate intake of fruits and vegetables
                                <li>Stomach cancer in the family
                                    <li>Helicobacter pylori infection
                                        <li>Inflammation of the stomach for a long time (gastritis)
                                            <li>Smoking
                                                <li>Gastrointestinal polyps
                        
                                                  
                         
                         

             </ul> <br/> 




                  <img src="../static/img/Stomach pic2.jpg" height="200" width="300" align="left" title="  Stomach Cancer" hspace="200" vspace="40" />

         
         <p style="color:#409283 " size="4px" face= "fantasy"> Although there is no surefire strategy to avoid  Stomach  cancer, we can lower your risk by doing the following some steps.</p>
 
               <p style="color:#0F799D;font-size:18px;">  Prevention  </p>
                 <ul  type="Circle"> 
                
                    <li>Keep a healthy weight, If you're overweight or obese, talk to your doctor about weight-loss options. Aim for a gradual weight loss of 1 to 2 pounds each week.
                        <li>Choose a fruit and vegetable-rich diet. Every day, make an effort to eat more fruits and veggies. Pick a rainbow of bright fruits and veggies.
                             <li>Reduce your intake of salty and smoked meals. Limit these meals to protect your tummy.
                                  <li>Quit smoking, Don't start smoking if you don't already. Smoking raises your chances of developing stomach cancer, as well as a variety of other cancers. Ask your doctor for help if you're having trouble quitting smoking.
                                       <li>Ask your doctor about your stomach cancer risk. If you have a higher risk of stomach cancer, talk to your doctor. Tests, such as endoscopy, may be considered for those with a strong family history of stomach cancer to screen for indicators of stomach cancer.
                         
                                                    
                </ul> <br/> 
    </div>
</body>
</html>

{% endblock %}